:root {
    --background: var(--light_background);
    --heading: var(--light_heading);
    --text: var(--light_text);
    --primary: var(--light_primary);
    --primaryLighter: var(--light_primaryLighter);
    --secondary: var(--light_secondary);

    --green: #66bb6a;
    --red: #ff0000;
    --keyboardBG: lightGray;
    --keyboardKey: white;

    --light_background: #FFFFFF;
    --light_heading: #045986;
    --light_text: #FFFFFF;
    --light_primary: #2bb5e2;
    /*0096C7*/
    --light_primaryLighter: #2cbded;
    --light_secondary: #045986;
    /**/

    --dark_background: #222222;
    --dark_heading: #FFFFFF;
    --dark_text: #222222;
    --dark_primary: #FFD166;
    --dark_primaryLighter: #ffd779;
    --dark_secondary: #595959;
}

body {
    background-color: var(--background);
}

* {
    padding: 0;
    margin: 0;
    transition: all .1s;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

i {
    color: var(--heading);
    font-size: 1.4rem;
}

p {
    color: var(--text);
}

.top {
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-bottom: 1px solid var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: var(--background);
}

.element {
    width: 100px;
    display: flex;
    justify-content: center;
    overflow: visible;
    text-align: center;
}

.element h1 {
    color: var(--heading);
}

.burger {
    display: none;
}

.top i {
    cursor: pointer;
}

#overlay {
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: none;
}

.gameboardRow {
    display: flex;
    flex-direction: row;
}

.popupWindow {
    width: 24rem;
    height: fit-content;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    z-index: 6;
    padding: 1rem;
    top: -1000px;
    left: 50%;
    transform: translate(-50%);
    transition: top .6s ease;
}

.popupWindow h2 {
    margin-bottom: 1rem;
}

.closeButton {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

.closeButton {
    width: 40px;
    height: 40px;
    z-index: 5;
}

.popupWindow p {
    margin: 1rem
}

#exampleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exampleText {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;

}

.exampleRow {
    display: flex;
    flex-direction: row;
    margin-bottom: .8rem;
    margin-top: .8rem;
}

.textColor {
    color: var(--text) !important;
}

.exampleNode {
    margin-left: .25rem;
    margin-right: .25rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
    outline: solid var(--primary) 2px;
    color: inherit !important;
}

.gray {
    background-color: var(--primary);
}

.green {
    background-color: var(--green);
}

.white {
    background-color: var(--background);
}

.element:nth-child(1) {
    margin-right: auto;
}

.element:nth-child(3) {
    margin-left: auto;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    align-items: center;
}

.gameboard {
    height: fit-content;
    padding: 7rem;
    width: calc(60px * 4 + 10px * 4);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
    transition: transform .5s ease-in;
    justify-content: center;
}

.settingRow {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid var(--secondary);
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}

.settingRow input[type="radio"] {
    background-color: var(--background);
    margin: 5px;
    width: 1rem;
    height: 1rem;
    border: .1rem solid var(--primary);
    border-radius: 50%;
    cursor: pointer;
}

.settingRow span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboardSlot {
    border-radius: 4px;
    margin: 10px .25rem;
    width: 60px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

.middlerow {
    background-color: var(--background);
    outline: 2px solid var(--primary);
    color: var(--heading);
}

.gameboardSlot:not(.middlerow) {
    background-color: var(--primary);
}

.keyboard {
    padding: 1rem;
}

.key {
    border: none;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 600;
    margin: 3px;
    width: 40px;
    height: 60px;
    background-color: var(--primary);
    background: radial-gradient(var(--primaryLighter), var(--primary));
    outline: solid transparent 2px;
}

.key:hover {
    cursor: pointer;
    outline-color: var(--secondary);
}

.keyrow {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.keyrow:nth-child(4)>*:first-child,
.keyrow:nth-child(4)>*:last-child {
    flex-grow: 1;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display: none;
}

.slider {
    background-color: var(--primary);
    ;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--background);
    ;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: var(--green);
}

input:checked+.slider:before {
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}


.slider.round:before {
    border-radius: 50%;
}

.bottnButn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(60px * 4 + 10px * 4);
}

.reloadBtn {
    margin: 0rem .2rem;
    display: flex;
    justify-content: center;
    background-color: var(--background);
    color: var(--primary);
    border: 1px solid var(--primary);
    width: fit-content;
    border-radius: 5px;
    padding: .2rem .5rem;
    cursor: pointer;
    font-size: 1rem;
    align-items: center;
}

.reloadBtn:hover {
    transform: scale(1.1);
}

.adbox {
    width: 15rem;
    height: 30rem;
    border-radius: 5px;
    background-color: var(--primary);
    position: absolute;
    top: 5rem
}

.adboxleft {
    left: 2rem;
}

.adboxright {
    right: 2rem;
}

#infoBox h3,
#infoBox h2,
#infoBox div,
#infoBox p,
#infoBox b {
    color: var(--heading);
}

.popupWindow i,
.popupWindow h2,
.popupWindow div,
.popupWindow span,
.popupWindow label {
    color: var(--heading);
}



.wordInfoBoxContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 21rem;
    height: 11.8rem;
    top: 11.8rem;
}

.wordInfoBoxContainer i {
    font-size: 1.6rem;
    position: absolute;
    cursor: pointer;
}

#firstInfo {
    top: 0;
    left: 0;
    transition: transform 0s, left 0s;
}

#secondInfo {
    bottom: 0;
    right: 0;
    transition: transform 0s;
}

.wordInfoBox {
    background-color: var(--primary);
    border-radius: 5px;
    width: 10rem;
    height: 10rem;
    position: absolute;
    box-sizing: border-box;
    padding: .4rem;
    opacity: 0;
}

#firstInfoBox {
    top: -.4rem;
    left: 2rem;
    transform: translate(-100%, 0);
}

#secondInfoBox {
    bottom: -.4rem;
    right: 2rem;
    transform: translate(100%, 0);
}

.exampleText:nth-child(1) {
    color: var(--text) !important;
}

.shareBox {
    width: 20rem;
    height: 9.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--primary);
    border-radius: 2rem;
    position: absolute;
    top: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.shareBox i {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

#ord1,
#ord2,
#tid {
    text-transform: uppercase;
}

.shareBox p {
    font-family: 1rem;
    width: 100%;
}

.shareBox button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.key i {
    color: var(--text);
}

@media (max-width: 450px) {

    .wordInfoBoxContainer {
        width: 28rem;
        height: 10rem;
    }

    #firstInfo {
        display: none;
    }

    #secondInfo {
        display: none;
    }

    .body {
        height: 100vh;
    }

    .element:nth-child(1),
    .element:nth-child(3) {
        display: none;
    }

    .element {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: .8rem;
    }

    .top {
        justify-content: flex-start;
        height: 1.4rem;
        padding-top: .2rem;
        padding-bottom: .2rem;
    }

    .popupWindow {
        width: 100vw;
        padding: 0;
    }

    .burger {
        display: flex;
        position: absolute;
        right: 25px;
        left: calc(100% - 30px);
        width: 60px;
        overflow: visible;
    }

    #burgerMenu {
        width: 100vw;
        height: fit-content;
        padding-bottom: 1rem;
        background-color: var(--background);
        align-items: flex-start;
    }

    .burgerList {
        width: 100vw;
        margin-top: 1.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .burgerItem {
        margin-top: 1rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: 80vw;
        height: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--primary);
        border-bottom: 3px solid var(--primary);
    }

    .gameboardSlot {
        width: 20vw;
    }

    .gameboard {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
        height: fit-content;
    }

    .bottnButn {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 88vw;
    }

    .reloadBtn {
        padding: .1rem .4rem;
        font-size: 1rem;
        margin: 0 .2rem;
        flex-grow: 1;
    }

    .keyboard {
        width: 100vw;
        position: absolute;
        padding: 0px;
        margin: 0px;
        bottom: 0px;
        /*background-color: var(--secondary);*/
        padding-bottom: 2rem;
    }

    .key {
        font-size: .75rem;
        height: 40px;
        margin: 4px 2px;
        font-weight: 800;
        border-radius: 2px;
        /*border: 1px solid var(--secondary);*/
        box-shadow: 0px 1px 3px .5px var(--text);
    }

    .closeButton {
        display: none;
    }

    #howToPlayPopup {
        top: initial !important;
        bottom: 0 !important;
    }
}

@media (max-width: 350px) {
    .reloadBtn {
        font-size: .8rem;
    }
}

/* Burger Menu Style and anim */

#burgerIcon {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg) scale(.4);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#burgerIcon.open span {
    background: var(--red);
}

#burgerIcon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: var(--primary);
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#burgerIcon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#burgerIcon span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#burgerIcon span:nth-child(1),
#burgerIcon span:nth-child(2) {
    top: 0px;
}

#burgerIcon span:nth-child(3),
#burgerIcon span:nth-child(4) {
    top: 18px;
}

#burgerIcon span:nth-child(5),
#burgerIcon span:nth-child(6) {
    top: 36px;
}

#burgerIcon.open span:nth-child(1),
#burgerIcon.open span:nth-child(6) {
    transform: rotate(45deg);
}

#burgerIcon.open span:nth-child(2),
#burgerIcon.open span:nth-child(5) {
    transform: rotate(-45deg);
}

#burgerIcon.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#burgerIcon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#burgerIcon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#burgerIcon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#burgerIcon.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}

#burgerIcon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}

#howToPlayPopup {
    border-bottom: 1px solid var(--heading);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: fit-content;
    position: absolute;
    display: flex;
    justify-content: center;
    transition: top .2s ease;
    top: 50.8px;
    align-items: center;
}

#howToPlayPopup button {
    background-color: var(--background);
    color: var(--heading);
    border-radius: 10px;
    padding: .4rem;
    border: none;
    cursor: pointer;
    z-index: 1;
}

#howToPlayPopup i {
    margin-right: 5px;
    margin-left: 5px;
    z-index: 1;
    cursor: pointer;
    font-size: .8rem;
}

#whatisthisword {
    color: black;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    position: relative;
}

#whatisthisword>div {
    color: var(--heading);
    cursor: pointer;
    z-index: 5;
    margin: 0 5rem;
    text-transform: uppercase;
    text-decoration: underline;
}

#whatisthiswordpopup {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 30rem;
    justify-content: center;
    top: 90px;
    flex-direction: column;
    display: none;
}

#whatisthiswordpopup .bg {
    width: 20rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    position: relative;
    z-index: 100;
}