:root{
    --main: #2bb5e2;/*0096C7*/ 
    --text: #045986;
    --textSec: #ffffff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

body{
    display: flex;
    flex-direction: column;
}

/* Top */

.topContainer{
    display: flex;
    flex-direction: column;
}

.topContainer > div{
    border-bottom: 1px solid gray;
    width: 100vw;
}

.topOne{
    height: 3.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.topOne > *{
    color: var(--text);
}

.topOne i{
    font-size: 1.4rem;
    cursor: pointer;
}

.topTwo{
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topTwo a{
    color: var(--text);
}

.topTwo a:visited{
    color: var(--text);
}

.topTwo i{
    font-size: .8rem;
    margin-left: .8rem;
    top: 2px;
    cursor: pointer;
    z-index: 5;
}

/* What is */

.whatis{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatis button{
    border: none;
    background-color: transparent;
    margin: 0 6rem;
    text-decoration: underline;
    color: var(--text);
    font-size: 1rem;
    cursor: pointer;
}

/* Word */

.wordContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.wordRow{
    display: flex;
    flex-direction: row;
}

.letter{
    width: 4rem;
    height: 4rem;
    aspect-ratio: 1;
    margin: 8px 4px;
    font-size: 3rem;
    font-weight: 600;
    border-radius: 3px;
    background-color: var(--main);
    color: var(--textSec);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    text-transform: uppercase;
}

.wordMid .letter{
    background-color: #ffffff;
    border: 2px solid var(--main);
    color: var(--text);
}

/* Keyboard */

.keyboardContainer{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.keyRow{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    background-color: var(--main);
    color: var(--textSec);
    margin: 3px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

#key-Enter, #key-Delete{
    flex-grow: 1;
    font-size: 1.4rem;
}